
    <div class="top_contents" >
      <%= image_tag 'top_image4.png' %>
    </div>
    <div class="middle_contents">
      <h2>〜 メンズアップコスメとは 〜</h2>
      <p>「身だしなみを整えたい」けど「メンズコスメは種類が多くて何を使えばよいかわからない」</p>
      <p>そんなお悩みを解決するメンズのメンズによるメンズのためのコスメレビューサイト</p>
        <div class="middle_contents_info">
          <div class="middle_contents_block">
            <div class="middle_contents_icon"><%= image_tag 'reviwe_icon.png' %></div>
            <div class="middle_contents_text">リアルな口コミ</div>
            <div class="middle_contents_message">実際に使用した感想を口コミ投稿<br>もう商品購入に失敗しない</div>
          </div>
          <div class="middle_contents_block">
            <div class="middle_contents_icon"><%= image_tag 'search_icon.png' %></div>
            <div class="middle_contents_text">探しやすい</div>
            <div class="middle_contents_message">充実した検索機能<br>探したい商品が見つかる</div>
          </div>
          <div class="middle_contents_block">
            <div class="middle_contents_icon"><%= image_tag 'connection_icon.png' %></div>
            <div class="middle_contents_text">気軽に交流</div>
            <div class="middle_contents_message">レビューへのコメント機能<br>疑問点は気軽に質問</div>
          </div>
        </div>
    </div>