.search_box {
  background-color: rgb(219, 235, 243);
  margin: 10px auto;
  padding: 20px;
  width: 65%;
  box-shadow: 7px 2px 5px rgba(0, 0, 0, 0.1);
}

div.search_field  {
  width: 95%;
}

.search_title {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 10px;
}

.search_btn {
  margin-top: 20px;
}

.search_query {
  background-color: white;
  padding: 30px;
  box-shadow: 7px 2px 5px rgba(0, 0, 0, 0.1);
}

.top-link {
  text-align: center;
  text-decoration: underline;
  margin-top: 15px;
}