<div class="contents row">
  <div class="container">
    <%= form_with(model: @review, url: reviews_path, method: :post, local: true) do |form| %>
      <h3>レビューを投稿する</h3>
      <%= render 'shared/error_messages', model: form.object %>
      <%= render partial: "form", locals: { form: form } %>
    <% end %>